*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Plain Light';
    color:#fff;
}

html,body{
    height: 100%;
    width:100%;
}
#crsr {
    border: 2px solid rgb(181, 179, 179);
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    position: fixed;
    z-index: 9999;
    pointer-events: none; /* Ensures the custom cursor doesn't block interactions */
    transform: translate(-50%, -50%); /* Centers the cursor on the mouse */
    transition: background-color 0.3s ease, border-color 0.3s ease;
    mix-blend-mode: difference;
    box-shadow: #fff;
}


#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index:999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line h1{
    font-size:6.5vw;
    font-weight: 900;
    text-transform: uppercase;
}
.line{
    /* background-color: red; */
    line-height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2vw;
    
}
.line-1-part-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2vw;
}
.line-1-part-1 h5,h6{
    font-size: 3.5vw;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'silk serif';
}
.line h2{
    font-size: 6.5vw;
    font-weight: 900;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}




#main{
    position: relative;
    background-color: #111;
}

#page1{
    background-color: #151515;
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    position: relative;
}

#page1 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vw 8vw;
    position: relative;
    z-index: 99;
}
.nav-part-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-size: 1.2vw;
    
}
.nav-part-2 h4{
    font-weight: 200;
    margin-right: -12px;
}
/* hero section starts */
.hero{
    /* background-color: crimson; */
    transform: translate(25%, -10%);
    font-size: 5.5vw;
    font-weight: 900;
    text-transform: uppercase;
    z-index: 99;
    overflow: hidden;
}
.hero h1{
    font-size: 7vw;
    font-weight: 900;
    text-transform: uppercase;
}
/* hero section ends */